$color--danger: #eb5757;
$color--success: #6fcf97;
$color--warning: #f2c94c;
$color--primary: #195abc;
$color--disabled: rgba($color--primary, 0.5);
$color--background: #f4f2ff;
$color--background-gradient: linear-gradient(180deg, #F3F8FE 0%, #F5F2FF 100%);
$color--divider: #e7e7e7;
$color--hover-white: #d2d2d2;
$color--black: #333;
$color--black-secondary: #1a1a1a;
$color--gray: #828282;
$color--gray-secondary: #F9F9F9;
$color--pink: #e63389;
$color--blue: #56ccf2;
$color--violet: #675dd1;
$color--white: #fff;
